<!DOCTYPE html>
<html>
<head>
	<title>Catalog</title>
	<link href="../styles/catalogStyles.css" rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="../frameworks/dist/semantic.min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
	<link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
</head>
<body>

	<div class="Aligner" style="position:absolute">
		<div class="Aligner-item">
			<div class="nav-area">
				 <div class="item" id="nav-title">
				    Collections
				  </div>
				  <a class="item" href="/catalog/cyclocross">
				    Cyclocross
				  </a>
				  <br>
				  <a class="item" href="/catalog/kids">
				    Kids
				  </a>
				  <br>
				  <a class="item" href="/catalog/mountain">
				    Mountain
				  </a>
				  <br>
				  <a class="item" href="/catalog/road">
				    Road
				  </a>
				  <br>
				  <br>
				  <a class="item" href="/">
				    Home
				  </a>

			</div>
		</div>
	</div>

	


	<div class="pusher" id="body">
		<div class="Aligner">
		  <div class="Aligner-item">
		  	<img class="bike-image" src="../images/Bike Images/<%= sec %> Bikes/<%= bikeArr[2] %>">
		  	<div class="card-wrapper">
			  	<div class="seminar-card">
					<div class="ui card" style="background:none!important">
						<div class="content">
							<a class="header"><%= bikeArr[0] %></a>
							<div class="meta">
								<span class="date">$<%= bikeArr[1] %></span>
							</div>
							<div class="description">						
								Frame | <%= bikeArr[3] %>
								<br>
								<br>
								Fork | <%= bikeArr[4] %>
								<br>
								<br>
								Rims | <%= bikeArr[5] %>
								<br>
								<br>
								Tires | <%= bikeArr[6] %>
								<br>
								<br>
								Crankset | <%= bikeArr[7] %>
								<br>
								<br>
								Brakes | <%= bikeArr[9] %>
								<br>
								<br>
								Images Courtesy of Chain Reaction Cycles
								<br>
								<br>
								<!-- <a href="#">Next</a> -->
								<% if(arrIndex > 0) {%>
									<a href="/catalog/<%= sec.toLowerCase() %>?p=<%= arrIndex %>">Previous</a>
								<% } if(arrIndex > 0 && arrIndex < len-1) {%>
									 | 
								<% } if(arrIndex < len-1) {%>
								   <a href="/catalog/<%= sec.toLowerCase() %>?p=<%= arrIndex+2 %>">Next</a>
								<% }%>
							</div>
						</div>
					</div>
				</div>
			</div>
		  </div>
		</div>
		


	</div>


<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="../frameworks/dist/semantic.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js"></script>

	<script type="text/javascript">
	$(document).ready(function(){
		// $('.sidebar')
		//   .sidebar('toggle')
		// ;

		$('.sidebar')
		  .sidebar('setting', 'transition', 'overlay')
		  .sidebar('setting','dimPage',false)
		  .sidebar('toggle')
		;
	})
	</script>
</body>
</html>