<!DOCTYPE html>
<html>
<head>
	<title>Cycle Fitness</title>
	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="frameworks/dist/semantic.min.css">
	<!-- <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css"> -->

	<!--[if lte IE 8]>
  <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.5.0/base-min.css&pure/0.5.0/grids-min.css&pure/0.5.0/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.5.0/base-min.css&pure/0.5.0/grids-min.css&pure/0.5.0/grids-responsive-min.css">
<!--<![endif]-->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:200,300' rel='stylesheet' type='text/css'>

	<link rel="icon" type="image/x-icon" href="images/favicon.ico" />

</head>
<body>

	<div class="intro" style="text-align:center">
		<img src="images/bicycle-icon.svg" style="margin-top:100px" height="200" />
		<div class="head-title">Cycle Fitness</div>
		<div class="links-bar">&middot; <a href="#" class="about-link">About</a> &middot; <a href="#" class="seminars-link">Seminars</a> &middot; <a href="#" class="events-link">Events</a> &middot; <a href="#" class="catalog-link">Catalog</a> &middot; <a href="#" class="faq-link">FAQ</a> &middot; <a href="#" class="contact-link">Contact</a> &middot; </div>
	</div>

	<div class="content-wrapper">
			<div class="pure-g">
				<div class="video-container">
					<div class="video-content-wrapper">
						<div class="video-title">Here at Cycle Fitness, we're geared for the pace of urban life.</div>
						<div class="video-subtitle">With an immense selection for all kinds of riders and unbeatable service, we're here to help you.</div>
						<div class="ui inverted button learn-more-button">Learn More</div>
					</div>
					<div class="video-overlay">
					</div>
          <div class="video-wrapper">
  					<video autoplay loop class="video">
  						<source src="res/videobg.mp4" type="video/mp4"/>
  						Your browser does not support the video tag. I suggest you upgrade your browser.
  					</video>
          </div>
					
					
			</div>
		</div>

	      <div class="about-qualities">
	        <div class="pure-g">
	          <div class="col-u-1">
	            <div class="features-wrapper">
	              <div class="pure-u-1-3 quality">
	                <div class="ic">
	                  <i class="icon heart shadow"></i>
	                </div>
	                <h2>Love</h2>
	                <p>Here at Cycle Fitness, we love what we do, and we want to bring that love to you, our customers. We have a fine selection of bikes to fit any kind of task, from fitness to commuting. We do what we love—by helping you do what you love.</p>
	              </div>
	              <div class="pure-u-1-3 quality">
	                <div class="ic">
	                  <i class="icon group shadow"></i>
	                </div>
	                <h2>Community</h2>
	                <p>We are one with the community at Cycle Fitness. From weekly seminars, to monthly cycling trips, we build connections that help our community flourish. Here at Cycle Fitness, we try our best to bring together our community one pedal at a time.</p>
	              </div>
	              <div class="pure-u-1-3 quality">
	                <div class="ic">
	                  <i class="icon wrench shadow"></i>
	                </div>
	                <h2>Passion</h2>
	                <p>We’ve been doing our job for decades, and we’re here to use our experience to help you find the best bike for your needs. Need a bike to coast down the sunny hills of Ithaca? We’ve got you. A bike to commute to work in the bustling streets of NYC? We’ve got you there too.</p>
	              </div>
	              <div class="clearfix"></div>
	            </div>
	          </div>
	        </div>
	      </div>

		<div class="social">

			<div class="social-title">
				A Bike Shop for the Community
			</div>

			<div class="social-subtitle">
				With frequent bike tours and other community-immerse events, our focus is always you.
			</div>

			<div class="social-row-1">

      <% for(var i=0; i<tweets.length/2; i++) {%>
         <div class="card-col">
          <div class="ui card">
            <div class="content">
              <div class="header">
                <div class="author">
                  <img class="ui avatar image" src="<%= tweets[i].user.profile_image_url %>
"> <%= tweets[i].user.name %>
                </div>
              </div>
              <div class="meta"></div>
              <div class="description">
                <p><%= tweets[i].text%></p>
              </div>
            </div>
            <div class="extra content">
              <a href="https://twitter.com/<%= tweets[i].user.screen_name %>/status/<%= tweets[i].id_str %>" target="_blank"><%= tweets[i].created_at.substring(0,10) %></a>
            </div>
          </div>
        </div>
      <% } %>
      </div>


			<div class="social-row-2">
        
      <% for(var i=tweets.length/2; i<tweets.length; i++) {%>
         <div class="card-col">
          <div class="ui card">
            <div class="content">
              <div class="header">
                <div class="author">
                  <img class="ui avatar image" src="<%= tweets[i].user.profile_image_url %>
"> <%= tweets[i].user.name %>
                </div>
              </div>
              <div class="meta"></div>
              <div class="description">
                <p><%= tweets[i].text%></p>
              </div>
            </div>
            <div class="extra content">
              <a href="https://twitter.com/<%= tweets[i].user.screen_name %>/status/<%= tweets[i].id_str %>"target="_blank"><%= tweets[i].created_at.substring(0,10) %></a>
            </div>
          </div>
        </div>
      <% } %>

      </div>
		</div>


          <div class="catalog">
          <div class="catalog-overlay"></div>
            <div class="pure-g">

            	<div class="pure-u-1-6"></div>
              <div class="pure-u-2-3">
                <h1>A Catalog To Match Every Desire<span>With bikes to match every want and need, we've got you covered.</span></h1>
                <a href="/catalog"><div class="ui inverted button catalog-button">Browse Our Catalog<i class="icon caret right"></i></div></a>
              </div>
            </div>
          </div>

		<div class="seminars">
			<div class="seminar-title">
				Seminars
			</div>
			<div class="seminar-subtitle">
				Need some help getting the most out of cycling? We've got your back.
			</div>
			<div class="pure-g">
				<div class="pure-u-1-12"></div>
				<div class="pure-u-5-6 seminar-cards">
					<div class="seminar-card">
						<div class="ui card">
							<div class="image">
								<img src="images/Seminar Graphics/fitness.jpg" width="150px">
							</div>
							<div class="content">
								<a class="header" href="https://www.eventbrite.com/e/cycling-for-fitness-seminar-tickets-15745344750" target="_blank">Cycling and Fitness</a>
								<div class="meta">
									<span class="date">14 March 2015</span>
								</div>
								<div class="description">
									Learn how to adjust your cycling routine to maximize fitness gained.
								</div>
							</div>
						</div>
					</div>
					<div class="seminar-card">
						<div class="ui card">
							<div class="image">
								<img src="images/Seminar Graphics/safety.jpg" width="150px">
							</div>
							<div class="content">
								<a class="header" href="https://www.eventbrite.com/e/bike-safety-seminar-tickets-15745478149" target="_blank">Bike Safety</a>
								<div class="meta">
									<span class="date">21 March 2015</span>
								</div>
								<div class="description">
									Learn about safe cycling and how to prevent injury on the road.
								</div>
							</div>
						</div>
					</div>
					<div class="seminar-card">
						<div class="ui card">
							<div class="image">
								<img src="images/Seminar Graphics/choosing.jpg" width="150px">
							</div>
							<div class="content">
								<a class="header" href="https://www.eventbrite.com/e/choosing-the-right-bike-seminar-tickets-15745543344" target="_blank">Choosing the Right Bike</a>
								<div class="meta">
									<span class="date">28 March 2015</span>
								</div>
								<div class="description">
									What kind of bike is right for you? Find the perfect match at this seminar!
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	<div class="events">
      <div class="pure-g">

        <!-- <div class="pure-u-1-6"></div> -->
        <div class="pure-u-1">
          <h1>Upcoming Events</h1>
        </div>
        <div class="pure-u-1-5">
          <div class="event">
            <div class="time">
              <div class="month">mar</div>
              <div class="date-num">14</div>
            </div>
            <div class="event-description">
              <p>Cycling and Fitness Seminar</p>
            </div>
          </div>
        </div>
         <div class="pure-u-1-5">
          <div class="event">
             <div class="time">
              <div class="month">mar</div>
              <div class="date-num">21</div>
            </div>
            <div class="event-description">
              <p>Bike Safety Seminar</p>
            </div>
          </div>
        </div>
         <div class="pure-u-1-5">
          <div class="event">
             <div class="time">
              <div class="month">mar</div>
            <div class="date-num">28</div>
            </div>
            <div class="event-description">
              <p>Choosing the Right Bike Seminar</p>
            </div>
          </div>
        </div>
         <div class="pure-u-1-5">

          <div class="event">
             <div class="time">
              <div class="month">mar</div>
              <div class="date-num">29</div>
            </div>
            <div class="event-description">
              <p>Monthly Bike Trip</p>
            </div>
          </div>
        </div>
         <div class="pure-u-1-5">

           <div class="event">
             <div class="time">
              <div class="month">apr</div>
            <div class="date-num">3</div>
            </div>
            <div class="event-description">
              <p>Cycle Fitness Anniversary Event</p>
              All items will be 20% off in-store!
            </div>
          </div>

        </div>
  </div>
  </div>

		<div class="faq">
			<div class="faq-header">
				FAQs
			</div>
			<div class="pure-g faq-body">
				<div class="pure-u-1-3 faq-col">
					<b>What kind of bike is right for me?</b>
					<p>
					Stop by our store and ask any of our employees and they’ll run down everything you need to know to find the perfect bike for you!</p>
					<!-- <br> -->
					<b>How can I tell what size bike I need?</b>
					<p>
					The best way would be to visit our store to try one out for yourself. One of our employees can give an accurate size recommendation for you to test out.</p>
					<b>My bike is functioning weirdly, what should I do?</b>
					<p>
					If your bike is one you bought from Cycle Fitness, the first step is to take your bicycle to our store and we will have one of our repair-certified employees check it out and give you a rundown of what you can do to fix it.</p>
				</div>
				<div class="pure-u-1-3 faq-col">
					<b>Do you offer a warranty on your bikes?</b>
					<p>
					All of our products come with a 90-day warranty for cost-free replacement of dysfunctional parts.</p>
					<!-- <br> -->
					<b>What is your return policy?</b>
					<p>
					We offer a 30-day return policy if you are unsatisfied with your purchase. All you need is a receipt to receive a full refund.</p>
          <!-- <br> -->
					<b>What equipment do I need to ride a bike?</b>
					<p>
					The most important equipment you need are a helmet and safety lights or reflectors. If you are riding in a city or in the dark, a reflective vest may also be a good investment.</p>
				</div>
				<div class="pure-u-1-3 faq-col">
					<b>Where are your seminars held?</b>
					<p>
					The seminars are held on-site weekly at our store in 123 Avenue of the America, New York, NY 20013.</p>
					<!-- <br> -->
					<b>Where are your cycling trips held?</b>
					<p>
					The location of our cycling trips varies each month - check out our events page to see where the next one will be held! </p>
          <b>Is your whole catalog available online?</b>
          <p>
          Most of what is on our catalog is available in-store and in-stock, but it may take us some time to keep our catalog up-to-date.</p>
				</div>
			</div>
		</div>

		<div class="contact">
			<div id="map-canvas"></div>
			<div class="contact-form-wrapper">

				<div class="pure-g">
					<div class="pure-u-1-4"></div>
					<div class="pure-u-1-2">
						<div class="contact-window">

							<div class="ui form segment">
							<h1 class="ui header contact-title">Contact Us!</h1>
								<div class="field">
									<input placeholder="Name" type="text">
								</div>
								<div class="field">
									<input placeholder="Email" type="email">
								</div>
								<div class="field">
									<input placeholder="Subject" type="text">
								</div>
								<div class="field">
									<textarea placeholder="Message"></textarea>
								</div>
								 <div style="text-align:center">
									 <div class="ui positive button">Submit</div>
								 </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>



	<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="frameworks/dist/semantic.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script type="text/javascript" src="scripts/main.js"></script

</body>
</html>